.footer-sm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  min-height: 480px;
  background-color: @darkgray;
}

.footer-sm__info {
  width: 640px;
  min-height: 240px;
}

.footer-sm__info-blocks-list {
  display: flex;
  width: 100%;
}

.footer-sm__info-block {
  display: flex;
  min-height: 240px;
  background-color: @darkgray;
}

.footer-sm__bottom-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  min-height: 240px;
  padding-top: 17px;
  box-sizing: border-box;
  background-color: @white;
}

.footer-sm__social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 640px;
  margin-bottom: 20px;
}

.footer-sm__notice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 640px;
  margin-bottom: 20px;
}

.footer-sm__notice-txt {
  font-family: "Arial", sans-serif;
  font-size: 11px;
  color: @darkgray;
  text-align: center;
}

.footer-sm__notice-txt a {
  padding-right: 5px;
  text-decoration: none;
  color: @base;
}

.footer-sm__copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 640px;
}

.footer-sm__copyright-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.footer-sm__copyright-logo {
  margin-right: 10px;
}

.footer-sm__copyright-txt {
  font-family: "Arial", sans-serif;
  font-size: 11px;
  color: @darkgray;
}

.footer-sm__copyright-offer {
  font-family: "Arial", sans-serif;
  font-size: 11px;
  color: @darkgray;
  text-align: center;
}