.footer-sm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  min-height: 480px;
  background-color: @darkgray;
}

.footer-sm__info {
  width: 640px;
  min-height: 240px;
}

.footer-sm__info-blocks-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-sm__info-block {
  display: flex;
  width: 200px;
  min-height: 240px;
  background-color: @orange;
}

.footer-sm__bottom-block {
  width: 800px;
  min-height: 240px;
  background-color: @white;
}