.intro-sm {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: @white;
}

.intro-sm__image-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 500px;
  margin: 0;
  padding: 0;
  background-image: url("/img/intro-img-bg.jpg");
  background-color: @orange;

}

.intro-sm__link-block {
  display: flex;
  width: 800px;
  height: 117px;
  background-color: @darkblue;
}