/*
  .size-xxs(12);
  .size-xs(12);
  .size-sm(10);
  .size-md(6);
  .size-lg(2);
  */
body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img,
abbr {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
/*
.debug {
  position: relative;
  .debug(rgba(0, 0, 0, 0.1), 1px solid #ff0);
}
*/
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  font-size: 0;
  overflow: hidden;
}
.button {
  background-color: #0d7fe8;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
}
.button:hover {
  background-color: #0d7fe8;
  color: #0d7fe8;
}
html {
  height: 100%;
}
.body {
  width: 100%;
  background-color: #FFFFFF;
}
.card {
  display: block;
  width: 820px;
  min-height: 1238px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  background-color: #AAAAAA;
}
.header-sm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  min-height: 120px;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}
.nav-header-sm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 640px;
  min-height: 70px;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  border-bottom: 1px solid #0d7fe8;
}
.nav-header-sm__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nav-header-sm__link {
  font-family: Arial;
  font-size: 13px;
  line-height: 14px;
  text-decoration: underline;
  color: #FFFFFF;
  text-transform: uppercase;
}
.nav-header-sm__contact {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  width: 112px;
  margin: 0;
  margin-left: auto;
  padding: 0;
}
.nav-header-sm__tel {
  margin-left: auto;
  font-family: Arial;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}
.main-sm {
  width: 800px;
  min-height: 615px;
  margin: 0;
  padding: 0;
}
.intro-sm {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
}
.intro-sm__image-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 500px;
  margin: 0;
  padding: 0;
  background-image: url("/img/intro-img-bg.jpg");
  background-color: #ED5541;
}
.intro-sm__image-1 {
  position: absolute;
  right: 50px;
  bottom: 0;
}
.intro-sm__image-2 {
  position: absolute;
  left: 80px;
  top: 50px;
}
.intro-sm__footer-block {
  display: flex;
  align-items: center;
  width: 800px;
  height: 117px;
  background-color: #535ABB;
}
.intro-sm__button {
  width: 206px;
  height: 52px;
  margin-left: auto;
  margin-right: 120px;
  font-family: Arial;
  font-size: 17px;
  background-color: #ED5541;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}
.footer-sm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  min-height: 480px;
  background-color: #656565;
}
.footer-sm__info {
  width: 640px;
  min-height: 240px;
}
.footer-sm__info-blocks-list {
  display: flex;
  width: 100%;
}
.footer-sm__info-block {
  display: flex;
  min-height: 240px;
  background-color: #656565;
}
.footer-sm__bottom-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  min-height: 240px;
  padding-top: 17px;
  box-sizing: border-box;
  background-color: #FFFFFF;
}
.footer-sm__social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 640px;
}
.info-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 210px;
  margin-left: 35px;
  margin-right: 50px;
  box-sizing: border-box;
}
.info-block--padding-width {
  width: 170px;
  margin: 0;
  padding-left: 10px;
}
.info-block__header {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: Arial;
  font-size: 20px;
  color: #FFFFFF;
}
.info-block__item {
  font-family: Arial;
  font-size: 13px;
  line-height: 22px;
  color: #AAAAAA;
  box-sizing: border-box;
}
.info-block__item-link {
  text-decoration: none;
  color: #AAAAAA;
}
.social {
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #ED5541;
}
@media screen and (min-width: 780px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
